:root {
    --background-color: #121212;     /* Основной фон */
    --card-background: #1E1E1E;      /* Фон карточек или контейнеров */
    --text-color: #E0E0E0;           /* Основной текст */
    --text-muted-color: #B3B3B3;     /* Для менее заметного текста */
    --accent-color: #BB86FC;         /* Основной акцентный цвет */
    --accent-hover-color: #9A67EA;   /* Акцент при наведении */
    --border-color: #333333;         /* Цвет границ */
    --input-background: #2C2C2C;     /* Фон полей ввода */
    --error-color: #CF6679;          /* Цвет ошибок */
    --success-color: #03DAC6;        /* Цвет успешных сообщений */
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
}